{% extends 'base.html' %}

{% block content %}
    <h2>Логин</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn waves-effect waves-light" type="submit">Войти</button>
    </form>
{% endblock %}