{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Мой блог</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'chatting.png' %}">
</head>
<body>
    <nav>
        <a href="/" class="brand-logo">Мой блог</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'post_new' %}">Создать новую запись</a></li>
        {% if user.is_authenticated %}
            <li><a>Добро пожаловать, {{ user.username }}!</a></li>
            <li><a href="{%  url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Создать аккаунт</a></li>
        {% endif %}
        </ul>
    </nav>
    <main>
        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>
    </main>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Блог</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            </div>
          </div>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>