{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}

        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <a href="{% url 'post_detail' post.pk %}" class="card-title">{{ post.title }}</a>
              <p>{{ post.body }}</p>
            </div>
          </div>
        </div>

    {% endfor %}
{% endblock content %}