{% extends 'base.html' %}

{% block content %}
    <h1>Удалить пост</h1>
    <form action="" method="post">
    {% csrf_token %}
    <p>Действительно удалить "{{ post.title }}"?</p>
        <input class="waves-effect waves-light btn" type="submit" value="Подтвердить">
    </form>
{% endblock %}