{% extends 'base.html' %}

{% block content %}
    <h1>Изменить пост</h1>
    <form action="" method="post">
    {% csrf_token %}{{ form.as_p }}
        <input class="waves-effect waves-light btn" type="submit" value="Отправить">
    </form>
{% endblock content %}