{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
    </div>

    <a href="{% url 'post_edit' post.pk %}" class="waves-effect waves-light btn">Изменить пост</a>
    <a href="{% url 'post_delete' post.pk %}" class="waves-effect waves-light btn">Удалить пост</a>
{% endblock content %}